h1{
    color: rgb(237, 176, 20);
    font-weight: 300;
    
}
header{
    background-color: black;
    font-family: 'Outfit';
    font-family: 'Outfit';
}

header p{
    font-size: 3rem;
    font-weight: 200;
}

.logo-titulo{
    display: flex;
    text-align: center;
}